html {
    overflow:hidden;
}
body {
	font-family: Helvetica;
	font-size: 80%;
	width: 350px;
    overflow:hidden;
    margin: 0px;
    min-height: 200px;
    max-height: 500px;	
}

ul {-webkit-padding-start: 00px;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 346px;
    position:relative;
    bottom: 23px;
    left:2px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none;
    background: none !important;
    background-color: transparent !important;

 }


#tabPlaylistContent, #resultsDisp, #queueSortable {max-height: 350px; min-height: 200px; margin: 0px; width: 330px; overflow-y: auto; overflow-x: hidden; margin-top: 10px; margin-bottom: 12px}

#queueSortable::-webkit-scrollbar, #resultsDisp::-webkit-scrollbar{
    width:8px;
    background-color:transparent;   
    border-right:none;
}

#queueSortable::-webkit-scrollbar-track, #resultsDisp::-webkit-scrollbar-track{
    background-color:transparent;
    width:8px;
    border:none;     
    border-right:none;
}

#queueSortable::-webkit-scrollbar-thumb, #resultsDisp::-webkit-scrollbar-thumb{
    background-color:#c0c0c0;
    width:8px;
    border:none;     
    border-right:none;
}
#queueSortable::-webkit-scrollbar-thumb:hover, #resultsDisp::-webkit-scrollbar-thumb:hover{
    background-color:#459e00;
    border-right:none;
    width:8px;
}
#queueSortable::-webkit-scrollbar-thumb:active, #resultsDisp::-webkit-scrollbar-thumb:active{
    background-color:#459e00;  
    width:8px;    
    border-right:none;
}

#rightButtons{
}
#leftButtons{
}

#tabPlaylistContent span button, #queueSortable span button {float:right; margin-bottom:0px; visibility:hidden; margin-top: 10px}
#tabPlaylistContent span div {position:relative; margin-top: 8px; width:82%; overflow:hidden; white-space: nowrap;  float: left;}
#queueSortable span div {position:relative; margin-top: 8px; width:90%; overflow:hidden; white-space: nowrap;  float: left;}
span.ui-icon-grip-dotted-horizontal {float:left; margin-top: 7px} 
#tabPlaylistContent li,#queueSortable li {list-style-type:none; height:30px; width: 99%; float: left; cursor:pointer; }

#tabs { 
    background: transparent; 
    border: none; 
    outline: none;
} 
#tabs .ui-tabs-panel{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 1em;
    outline: none;
}
#tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    border-radius: 0px; 
    outline: none;
} 
#tabs .ui-tabs-nav li {	
    float: none;
    display: inline-block;
}
#tabs .ui-tabs-nav {
	text-align: center;
    outline: none;
}
#tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
    outline: none;
} 
#tabs .ui-tabs-nav .uchrome-extension://oldagkdddpneeopaofiflfdidknmhgbb/popup.html#tabSearchi-state-active { 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-default a { 
	outline: none;
	font-weight: normal;
	font-size: 13pt;
    color: #c0c0c0; 
} 
#tabs .ui-tabs-nav .ui-state-active a { 
	outline: none;
	font-weight: bold;
	font-size: 13pt;
    color: #459e00; 
}

#resultsDisp {
    overflow-x: hidden;
    overflow-y: auto;
}
#resultsDisp .searchedVid {
	cursor:pointer;
    height: 54px;
}

#resultsDisp .searchedVid:hover {
    cursor:pointer;
    background-color:#c0c0c0;
    height: 54px;
}

#resultsDisp img{
    height: 50px;
    position: relative;
    top: 2px;
    left: 2px;
}


#resultsDisp #text{
    position: relative;
    position: relative;
    bottom: 55px;
    left: 75px;
    width: 270px;
    line-height: 1.5em;
    height: 3em;      
    overflow: hidden;
}

#playlistList .ui-state-default, #queueSortable .ui-state-default{
    background:transparent;
    border:none;    
    font-size:9pt;
}


#playlistList .ui-state-active, #queueSortable .ui-state-active{
    background:transparent;
    border:none;
    font-weight: bold;
    color: #459e00;
    font-size:9pt;

}

#playlistList .ui-state-hover, #queueSortable .ui-state-hover{
    background:#c0c0c0;
    border:none;
    font-weight: bold;
    color: #FFFFFF;
    font-size:9pt;
}


.playerButtons{
    background-size: 25px 25px;
    height: 25px;  
    width: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.playerButtonsSmall{
    background-size: 20px 20px;
    height: 20px;  
    width: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#newPlaylistButton{
    background-size: 20px 20px;
    height: 20px;  
    width: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("img/save_act.png");    
}

#loaderImage{
    position: fixed;
    left: 35%;
    bottom: 13px;
    background-image: url("img/sprites.gif");
}

#cancelSaveButton{
    background-size: 20px 20px;
    height: 20px;  
    width: 20px;
    position: fixed;
    left: 91%;
    bottom: 7px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("img/close_act.png");    
}

#butSearch{
    background-size: 15px 15px;
    height: 15px;  
    width: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("img/search_act.png");    
 }

 #forward{
    position: fixed;
    left: 80%;
    background-image: url("img/frwd_def.png");    
 }

 #forward:hover{
    position: fixed;
    left: 80%;
    background-image: url("img/frwd_act.png");
 }

 #shuffle{
    position: fixed;
    left: 91%;
    bottom: 7px;
    background-image: url("img/shuf_def.png");    
 }

 #shuffle.checked{
    position: fixed;
    left: 91%;
    bottom: 7px;
    background-image: url("img/shuf_act.png");
 }

#rewind{
    position: relative;
    left: 20%;
    margin-left: -25px;
    background-image: url("img/bcwd_def.png");    
 }

 #rewind:hover{
    position: relative;
    left: 20%;
    margin-left: -25px;
    background-image: url("img/bcwd_act.png");
 }

 #clear{
    position: fixed;
    background-image: url("img/trash_def.png"); 
    left:10px;  
    bottom: 7px;
 }

 #clear:hover{
    position: fixed;
    background-image: url("img/trash_act.png");
    left:10px;
    bottom: 7px;
 }

 #saveButton{
    position: fixed;
    background-image: url("img/save_def.png");  
    left: 36px;  
    bottom: 7px;
 }

 #saveButton:hover{
    position: fixed;
    background-image: url("img/save_act.png");
    left: 36px;  
    bottom: 7px;
 }
.willPlay{
    background-image: url("img/play_def.png");
}
.willPlay:hover{
    background-image: url("img/play_act.png");
}
.willPause{
    background-image: url("img/pause_def.png");
}
.willPause:hover{
    background-image: url("img/pause_act.png");
}

#play{
  position: absolute;
  left: 50%;
  margin-left: -13px
}

#choiceText{
    text-align: center;
    padding: 1em;
    padding-bottom: 0em;
}

#noticePl{
    position: fixed;
    left: 50%;
    top: 50%;
    text-align:center;    
    width: 70%;
    transform: translate(-50%, -50%);
    font-size: 80%
}

#notice{
    position: fixed;
    left: 50%;
    top: 50%;
    text-align:center;   
    width: 90%; 
    transform: translate(-50%, -50%);
    font-size: 80%
}
#notice a{
    color:#0000FF;
    text-decoration: underline;
    cursor: pointer;
}

input {
    margin-left: 5px;
    border: 2px solid #dadada;
    width:310px;
    padding: 0 3px 2px;
    cursor: text;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

input:focus {
    border: 1px solid #459e00;
    width:310px;
    padding: 0 3px 2px;
    outline: none;
    cursor: text;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

#completedText{
    background-color:#666666; 
    color: #ffffff;
    border-radius: 3px;
    padding:5px;
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, 0);
    transition: opacity 500ms;
}

#completedText.show{
    opacity: 1;
}

#completedText.hide{
    opacity: 0;
}